// Colors
$color-neon-carrot: #fd8c40;
$color-mine-shaft: #333333;
$color-mine-shaft--dark: #252525;
$color-tundora: #474747;

$color-accent: $color-neon-carrot;

$color-bg-sidebar: $color-mine-shaft;
$color-bg-body: $color-mine-shaft--dark;


$color-border-stripes-overlay: $color-tundora;